{% extends "bootstrap/base.html" %}

{% block title %}
    Appsy - Acceuil
{% endblock title %}

{% block body %}
    {% block navbar %}
        {% include "layouts/shared/_nav.html" %}
    {% endblock navbar %}

    {% block content %}

        <div class="container m-t-xl">
            <h3>Ajout d'un nouveau patient</h3>
            <div class="col-md-12 roundedborder m-t-md">
                <form class="col-md-12 p-xl text-left" action="{{ url_for('go_to_add_patient') }}" method="post">
                    <div class="row-flex row col-md-12">
                        <div class="col-md-4">
                            <label class="col-md-6">Nom :</label>
                            <input class="col-md-6" type="text" name="name">
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Type :</label>
                            <select class="col-md-6" name="type">
                                <option value="0">Femme</option>
                                <option value="1">Homme</option>
                                <option value="2">Ado</option>
                                <option value="3">Enfant</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Relation :</label>
                            <select class="col-md-6" name="relationship">
                                <option value="-2">Celibataire</option>
                                <option value="-1">Non patient</option>

                                {% if list_patient is defined %}
                                    {% for relationship in list_patient %}
                                        <option value="{{ relationship.id }}">
                                            {% if relationship.type != "Enfant" %} {{ relationship.type }} {% endif %}
                                            {{ relationship.name }} {{ relationship.forename }}
                                        </option>
                                    {% endfor %}
                                {% endif %}

                            </select>
                        </div>

                    </div>

                    <div class="formHorizontalDivider"></div>

                    <div class="row-flex row col-md-12">

                        <div class="col-md-4">
                            <label class="col-md-6">Prénom :</label>
                            <input class="col-md-6" type="text" name="forename">
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Date naissance :</label>
                            <input class="col-md-6" type="date" name="birthDate">
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Connaissance :</label>
                            <select class="col-md-6" name="knowing">
                                <option value="0">Autre patient</option>
                                <option value="1">Docteur</option>
                                <option value="2">Bouche à oreilles</option>
                                <option value="3">Pages Jaunes</option>
                                <option value="4">Internet</option>
                                <option value="5">Autre</option>
                            </select>
                        </div>
                    </div>

                    <div class="formHorizontalDivider"></div>

                    <div class="row-flex row col-md-12">

                        <div class="col-md-4">
                            <label class="col-md-6">Professions :</label>
                            <select class="col-md-6" name="profession">
                                <option value="-1">+ Nouveau +</option>

                                {% if list_profession is defined %}
                                    {% for profession in list_profession %}
                                        <option value="{{ profession.id }}">{{ profession.label }}</option>
                                    {% endfor %}
                                {% endif %}

                            </select>

                        </div>

                        <div class="col-md-4">
                            <img class="m-n"
                                 src="{{ url_for('static', filename='img/minus_black.png') }}"
                                 height="20" width="20">

                            <img class="m-n"
                                 src="{{ url_for('static', filename='img/add_black.png') }}"
                                 height="20" width="20">
                        </div>

                        <button type="submit" class="btn btn-primary col-md-2 col-md-offset-2">Valider</button>

                    </div>
                </form>

            </div>
        </div>

    {% endblock content %}

{% endblock body %}
