{% extends "bootstrap/base.html" %}

<!-- Define the title of the page -->
{% block title %}
    Appsy - Ajout patient
{% endblock title %}

<!-- Setup the body -->
{% block body %}

    <!-- Include the shared navbar -->
    {% block navbar %}
        {% include "layouts/shared/_nav.html" %}
    {% endblock navbar %}

    <!-- Setup the content -->
    {% block content %}
        <div class="container m-t-xl">
            <h3>Ajout d'un nouveau patient</h3>

            <form class="col-md-12 text-left p-n" action="{{ url_for('go_to_add_patient') }}" method="post">

                <div class="col-md-12 roundedborder m-t-xs p-xl">

                    <div class="row-flex row col-md-12">
                        <div class="col-md-4">
                            <label class="col-md-6">Nom :</label>
                            <input class="col-md-6" type="text" name="name" required>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Type :</label>
                            <select class="col-md-6" name="type">
                                <option value="0">Femme</option>
                                <option value="1">Homme</option>
                                <option value="2">Ado</option>
                                <option value="3">Enfant</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Relation :</label>
                            <select class="col-md-6" name="relationship">
                                <option value="-2">Celibataire</option>
                                <option value="-1">Non patient</option>

                                <!-- Construct the select with the list of patient -->
                                {% for relationship in get_list_patient() %}
                                    <option value="{{ relationship.id }}">
                                        {% if relationship.type != "Enfant" %} {{ relationship.type }} {% endif %}
                                        {{ relationship.name }} {{ relationship.forename }}
                                    </option>
                                {% endfor %}

                            </select>
                        </div>

                    </div>

                    <div class="formHorizontalDivider"></div>

                    <div class="row-flex row col-md-12">

                        <div class="col-md-4">
                            <label class="col-md-6">Prénom :</label>
                            <input class="col-md-6" type="text" name="forename" required>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Date naissance :</label>
                            <input class="col-md-6" type="date" name="birthDate" required>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-6">Connaissance :</label>
                            <select class="col-md-6" name="knowing">
                                <option value="0">Autre patient</option>
                                <option value="1">Docteur</option>
                                <option value="2">Bouche à oreilles</option>
                                <option value="3">Pages Jaunes</option>
                                <option value="4">Internet</option>
                                <option value="5">Autre</option>
                            </select>
                        </div>
                    </div>

                    <div class="formHorizontalDivider"></div>

                    <div class="col-md-12">

                        <div class="row-flex row col-md-4">
                            <label class="col-md-6">Professions :</label>

                            <div class="col-md-6">
                                <select class="m-b-xs" name="profession1" id="profession1">

                                    {# TODO addNewProfession passer en params le lastInsertId de la bd #}
                                    <option value="-1" onmouseup="addNewProfession();">+ Nouveau +</option>

                                    <!-- Construct the select with the list of profession -->
                                    {% for profession in get_list_profession() %}
                                        <option value="{{ profession.id }}">{{ profession.label }}</option>
                                    {% endfor %}

                                </select>

                                <select class="m-b-xs" name="profession2" id="profession2" style="display: none">

                                    {# TODO addNewProfession passer en params le lastInsertId de la bd #}
                                    <option value="-1" onmouseup="addNewProfession();">+ Nouveau +</option>

                                    <!-- Construct the select with the list of profession -->
                                    {% for profession in get_list_profession() %}
                                        <option value="{{ profession.id }}">{{ profession.label }}</option>
                                    {% endfor %}

                                </select>


                                <select class="m-b-xs" name="profession3" id="profession3" style="display: none">

                                    {# TODO addNewProfession passer en params le lastInsertId de la bd #}
                                    <option value="-1" onmouseup="addNewProfession();">+ Nouveau +</option>

                                    <!-- Construct the select with the list of profession -->
                                    {% for profession in get_list_profession() %}
                                        <option value="{{ profession.id }}">{{ profession.label }}</option>
                                    {% endfor %}

                                </select>

                                <select class="m-b-xs" name="profession4" id="profession4" style="display: none">

                                    {# TODO addNewProfession passer en params le lastInsertId de la bd #}
                                    <option value="-1" onmouseup="addNewProfession();">+ Nouveau +</option>

                                    <!-- Construct the select with the list of profession -->
                                    {% for profession in get_list_profession() %}
                                        <option value="{{ profession.id }}">{{ profession.label }}</option>
                                    {% endfor %}

                                </select>

                                <select class="m-b-xs" name="profession5" id="profession5" style="display: none">

                                    {# TODO addNewProfession passer en params le lastInsertId de la bd #}
                                    <option value="-1" onmouseup="addNewProfession();">+ Nouveau +</option>

                                    <!-- Construct the select with the list of profession -->
                                    {% for profession in get_list_profession() %}
                                        <option value="{{ profession.id }}">{{ profession.label }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <img class="m-n"
                                 src="{{ url_for('static', filename='img/minus_black.png') }}"
                                 height="20" width="20" onmouseup="removeProfessionToHistory();">

                            <img class="m-n"
                                 src="{{ url_for('static', filename='img/add_black.png') }}"
                                 height="20" width="20" onmouseup="addProfessionToHistory();">
                        </div>

                        <button type="submit" class="btn btn-primary col-md-2 col-md-offset-2">Valider</button>

                    </div>


                </div>

                <div class="col-md-12 roundedborder m-t-xs p-xl">

                    <div class="col-md-6">
                        <label class="col-md-6">Adresse mail :</label>
                        <input class="col-md-6" type="email" name="mail" required>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-6">Mot de passe :</label>
                        <input class="col-md-6" type="password" name="password" required>
                    </div>

                </div>

            </form>
        </div>
    {% endblock content %}

    <!-- Associate javascript file -->
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/add_patient.js') }}"></script>
    {% endblock scripts %}

{% endblock body %}
