{% extends "bootstrap/base.html" %}

<!-- Define the title of the page -->
{% block title %}
    Appsy - Ajout consultation
{% endblock title %}

<!-- Setup the body -->
{% block body %}

    <!-- Include the shared navbar -->
    {% block navbar %}
        {% include "layouts/shared/_nav.html" %}
    {% endblock navbar %}

    <!-- Setup the content -->
    {% block content %}
        <div class="container m-t-xl">
            <h3>Ajouter une consultation</h3>
            <div class="col-md-12 roundedborder m-t-xs text-left p-md">

                <div class="col-md-12 well-sm">
                    <form class="col-md-12" action="{{ url_for('go_to_add_consultation') }}" method="post">

                        <div class="col-md-2 well-sm">
                            <label>Date</label>
                            <input type="date" name="wanted_date" class="m-l"
                                    {% if data is defined and data.wanted_date is defined %}
                                   value="{{ data.wanted_date }}" {% endif %} required>
                        </div>

                        <div class="col-md-3 well-sm">
                            <label>Type consultation</label>
                            <select name="consultation_type" class="m-l" id="consultation_type"
                                    onchange="displayOrNot_add_remove_patient()">
                                <option {% if data is defined and data.consultation_type == 0 %} selected {% endif %}
                                                                                                 value="0">Seul
                                </option>
                                <option {% if data is defined and data.consultation_type == 1 %} selected {% endif %}
                                                                                                 value="1">Couple
                                </option>
                                <option {% if data is defined and data.consultation_type == 2 %} selected {% endif %}
                                                                                                 value="2">Groupe
                                </option>
                            </select>
                        </div>

                        <div class="col-md-7 well-sm">

                            <label>Participant(s)</label>
                            <select name="participants1" class="m-l">

                                <option value="-1"> -- Choisir --</option>

                                <!-- Construct the select with the list of patient -->
                                {% for patient in get_list_patient() %}

                                    <option value="{{ patient.id_pa }}"
                                            {% if data is defined and data.participants[0] == patient.id_pa %}
                                            selected {% endif %}>
                                        {% if patient.type != "Enfant" %}
                                            {{ patient.type }} {% endif %}
                                        {{ patient.name }} {{ patient.forename }}
                                    </option>

                                {% endfor %}

                            </select>

                            <select name="participants2" id="participants2" class="m-l" style="display: none">

                                <option value="-1"> -- Choisir --</option>

                                <!-- Construct the select with the list of patient -->
                                {% for patient in get_list_patient() %}

                                    <option value="{{ patient.id_pa }}"
                                            {% if data is defined and data.participants.lenght > 1 and data.participants[1] == patient.id_pa %}
                                            selected {% endif %}>
                                        {% if patient.type != "Enfant" %}
                                            {{ patient.type }} {% endif %}
                                        {{ patient.name }} {{ patient.forename }}
                                    </option>

                                {% endfor %}

                            </select>

                            <select name="participants3" id="participants3" class="m-l" style="display: none">

                                <option value="-1"> -- Choisir --</option>

                                <!-- Construct the select with the list of patient -->
                                {% for patient in get_list_patient() %}

                                    <option value="{{ patient.id_pa }}"
                                            {% if data is defined and data.participants.lenght > 2 and data.participants[2] == patient.id_pa %}
                                            selected {% endif %}>
                                        {% if patient.type != "Enfant" %}
                                            {{ patient.type }} {% endif %}
                                        {{ patient.name }} {{ patient.forename }}
                                    </option>

                                {% endfor %}

                            </select>


                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Voir les disponibilité</button>
                        </div>

                    </form>

                </div>

                <!-- Displayed if consultation details have been specified -->
                {% if data is defined and data.wanted_date is defined %}
                    <div class="col-md-12">

                        <h5>Choissir un crénaux pour cette consultation :</h5>

                        <!-- Display in list all day slots available -->
                        {% for slot in day_slots %}

                            <form id="form" method="post" action="{{ url_for('add_consultation') }}">
                                <input name="data" type="hidden" value="{{ data }}">
                                <input name="id_time_slot" type="hidden" value="{{ slot.id }}">

                                <!-- Select the slot on click -->
                                <a onclick="validateForm();">
                                    <div class="col-md-12 roundedborder container m-t-sm">
                                        <h4>
                                            {{ slot.h_debut }} - {{ slot.h_fin }}
                                        </h4>
                                    </div>
                                </a>

                            </form>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>

        </div>
    {% endblock content %}

    <!-- Associate javascript file -->
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/add_consultation.js') }}"></script>
    {% endblock scripts %}

{% endblock body %}

