{% extends "bootstrap/base.html" %}

<!-- Define the title of the page -->
{% block title %}
    Appsy - Consultations
{% endblock title %}

<!-- Setup the body -->
{% block body %}

    <!-- Include the shared navbar -->
    {% block navbar %}
        {% include "layouts/shared/_nav.html" %}
    {% endblock navbar %}

    <!-- Setup the content -->
    {% block content %}

        <div class="container m-t-xl">
            {% if nav is defined %}
                {% if nav < 0 %}
                    <h3>Historique des consultations</h3>
                {% elif nav > 0 %}
                    <h3>Consultations à venir</h3>
                {% else %}
                    {% if sort == 0 %}
                        <h3>Consultations du jour</h3>
                    {% else %}
                        <h3>Consultations de la semaine</h3>
                    {% endif %}
                {% endif %}
            {% else %}
                <h3>Consultations</h3>
            {% endif %}
            <div class="col-md-12 roundedborder m-t-xs">

                <div class="col-md-4 btn-group btn-group-toggle m-t-md" data-toggle="buttons">
                    <label class="btn btn-primary {% if sort == 0 %} active {% endif %}">
                        <input type="radio" name="sort" {% if sort == 0 %} checked {% endif %}>
                        <a href="{{ url_for('go_to_view_consultations', sort=0, nav=0) }}">Par jour</a>
                    </label>
                    <label class="btn btn-primary {% if sort == 1 %} active {% endif %}">
                        <input type="radio" name="sort" {% if sort == 1 %} checked {% endif %}>
                        <a href="{{ url_for('go_to_view_consultations', sort=1, nav=0) }}">Par semaine</a>
                    </label>
                    <label class="btn btn-primary {% if sort == 2 %} active {% endif %}">
                        <input type="radio" name="sort" {% if sort == 2 %} checked {% endif %}>
                        <a href="{{ url_for('go_to_view_consultations', sort=2, nav=0) }}">Par patient</a>
                    </label>

                </div>

                {% if nav is defined %}
                    <div class="col-md-12 well-sm">
                        <a class="col-md-2 text-left"
                           href="{{ url_for('go_to_view_consultations', sort=sort, nav=1) }}">
                            <= Jour précédent</a>
                        <div class="col-md-8">
                            <div class="col-md-8 col-md-offset-2">
                                {% if sort == 0 %}
                                    {% if nav == 0 %}
                                        <h3 class="text-center">Aujourd'hui</h3>
                                    {% else %}
                                        <h3 class="text-center">{{ format_date(date) }}</h3>
                                    {% endif %}
                                {% elif sort == 1 %}
                                    {% if nav == 0 %}
                                        <h3 class="text-center">Cette semaine</h3>
                                    {% else %}
                                        <h3 class="text-center">Semaine - {{ date }}</h3>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-8 col-md-offset-2 m-t-n">
                                <hr>
                            </div>
                        </div>
                        <a class="col-md-2 text-right"
                           href="{{ url_for('go_to_view_consultations', sort=sort, nav=2) }}">
                            Jour suivant =></a>
                    </div>
                {% endif %}

                <div class="col-md-12 container m-t-md m-b-md">

                    <div class="col-md-12">


                        {# Sort by day #}

                        {% if list_consultations_day is defined and sort == 0 %}
                            {% for consultation in list_consultations_day %}
                                <div class="col-md-12 roundedborder p-n m-t-md">

                                    <div class="col-md-12 well-sm"
                                         onmouseup="
                                                 document.getElementById('div{{ consultation[0].id }}').style.display='block';
                                                 document.getElementById('img{{ consultation[0].id }}').style.display='none'">

                                        <div class="col-md-11">
                                            <h4>Rendez-vous du {{ consultation.date }}</h4>
                                        </div>

                                        <div class="col-md-1">
                                            <img id="img{{ consultation[0].id }}"
                                                 src="{{ url_for('static', filename='img/arrow_down.svg') }}"
                                                 alt="Arrow down"
                                                 height="15" width="60">
                                        </div>
                                    </div>

                                    <div id="div{{ consultation[0].id }}" class="desc col-md-12"
                                         onmouseup="
                                                 document.getElementById('div{{ consultation[0].id }}').style.display='none';
                                                 document.getElementById('img{{ consultation[0].id }}').style.display='block'">

                                        <div class="col-md-11">

                                            <div class="row">

                                                {#Appointment date#}
                                                <div class="col-md-3">
                                                    <div class="col-md-4 col-md-offset-1 p-n">
                                                        <p>Date :</p>
                                                    </div>
                                                    <div class="col-md-6 p-n">
                                                        <p>{{ consultation[0].date }}</p>
                                                    </div>
                                                </div>

                                                {#Anxiety level#}
                                                <div class="col-md-3">
                                                    <div class="col-md-8 col-md-offset-1 p-n">
                                                        <p>Indicateur d'anxiété :</p>
                                                    </div>
                                                    <div class="col-md-2 p-n">
                                                        <p>{{ consultation[0].anxiety }}/10</p>
                                                    </div>
                                                </div>

                                                {#Payment method#}
                                                <div class="col-md-3">
                                                    <div class="col-md-8 col-md-offset-1 p-n">
                                                        <p>Mode de réglement :</p>
                                                    </div>
                                                    <div class="col-md-2 p-n">
                                                        <p>{{ consultation[0].payment }}</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p class="col-md-offset-1">Mots clé :</p>
                                                    <div class="col-md-offset-2">
                                                        <p>{{ consultation[0].keywords }}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <p class="col-md-offset-1">Comportements :</p>
                                                    <div class="col-md-offset-2">
                                                        <p>{{ consultation[0].behaviors }}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <p class="col-md-offset-1">Postures :</p>
                                                    <div class="col-md-offset-2">
                                                        <p>{{ consultation[0].postures }}</p>
                                                    </div>
                                                </div>

                                                {#Participants#}
                                                <div class="col-md-3">
                                                    <p class="col-md-offset-1">Participants :</p>
                                                    {% for participant in consultation[1] %}
                                                        <div class="col-md-offset-2">
                                                            <p>
                                                                {% if participant.typep is defined %}
                                                                    {{ participant.typep }}
                                                                {% endif %}
                                                                {{ participant.pname }} {{ participant.forname }}
                                                            </p>
                                                        </div>
                                                    {% endfor %}
                                                </div>


                                            </div>

                                        </div>

                                        <div class="col-md-1">
                                            <img src="{{ url_for('static', filename='img/arrow_up.svg') }}"
                                                 alt="Arrow up"
                                                 height="15" width="60">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}


                        {# Sort by week #}

                        {% if list_consultations_week is defined and sort == 1 %}
                            {% for day_of_week in list_consultations_week %}
                                <div>
                                    {% if today() == day_of_week.date %}
                                        <h3 class="text-left text-primary">Aujourd'hui</h3>
                                        <hr class="m-n btn-primary">
                                    {% else %}
                                        <h3 class="text-left">{{ format_date(day_of_week.date) }}</h3>
                                        <hr class="m-n">
                                    {% endif %}

                                </div>
                                {% for consultation in day_of_week.list_consultations_day %}
                                    <div class="col-md-12 roundedborder p-n m-t-md">

                                        <div class="col-md-12 well-sm"
                                             onmouseup="
                                                     document.getElementById('div{{ consultation.id }}').style.display='block';
                                                     document.getElementById('img{{ consultation.id }}').style.display='none'">

                                            <div class="col-md-11">
                                                <h4>Rendez-vous du {{ consultation.date }}</h4>
                                            </div>

                                            <div class="col-md-1">
                                                <img id="img{{ consultation.id }}"
                                                     src="{{ url_for('static', filename='img/arrow_down.svg') }}"
                                                     alt="Arrow down"
                                                     height="15" width="60">
                                            </div>
                                        </div>

                                        <div id="div{{ consultation.id }}" class="desc col-md-12"
                                             onmouseup="
                                                     document.getElementById('div{{ consultation.id }}').style.display='none';
                                                     document.getElementById('img{{ consultation.id }}').style.display='block'">

                                            <div class="col-md-11">

                                                <div class="row">

                                                    {#Appointment date#}
                                                    <div class="col-md-3">
                                                        <div class="col-md-4 col-md-offset-1 p-n">
                                                            <p>Date :</p>
                                                        </div>
                                                        <div class="col-md-6 p-n">
                                                            <p>{{ consultation.date }}</p>
                                                        </div>
                                                    </div>

                                                    {#Anxiety level#}
                                                    <div class="col-md-3">
                                                        <div class="col-md-8 col-md-offset-1 p-n">
                                                            <p>Indicateur d'anxiété :</p>
                                                        </div>
                                                        <div class="col-md-2 p-n">
                                                            <p>{{ consultation.anxiety }}/10</p>
                                                        </div>
                                                    </div>

                                                    {#Payment method#}
                                                    <div class="col-md-3">
                                                        <div class="col-md-8 col-md-offset-1 p-n">
                                                            <p>Mode de réglement :</p>
                                                        </div>
                                                        <div class="col-md-2 p-n">
                                                            <p>{{ consultation.payment }}</p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Mots clé :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Comportements :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Postures :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                        </div>
                                                    </div>

                                                    {#Participants#}
                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Participants :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>{{ consultation.participant }}</p>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                            <div class="col-md-1">
                                                <img src="{{ url_for('static', filename='img/arrow_up.svg') }}"
                                                     alt="Arrow up"
                                                     height="15" width="60">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-12 formHorizontalDivider"></div>
                            {% endfor %}
                        {% endif %}


                        {# Sort by patient #}

                        {% if sort == 2 %}
                            <div class="col-md-4 col-md-offset-8">
                                <form method="post" action="{{ url_for('go_to_view_consultations',sort=2,nav=0) }}">
                                    <label>
                                        Patient :
                                        <select name="id_patient">
                                            {% for patient in get_list_patient() %}
                                                <option value="{{ patient.id_pa }}"
                                                        {% if id_patient == patient.id_pa %} selected {% endif %}>
                                                    {% if patient.type != "Enfant" %}
                                                        {{ patient.type }} {% endif %}
                                                    {{ patient.name }} {{ patient.forename }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <button type="submit" class="btn btn-primary m-l">Afficher</button>
                                </form>
                            </div>

                            {% if list_consultations_patient is defined %}
                                {% for consultation in list_consultations_patient %}
                                    <div class="col-md-12 roundedborder p-n m-t-md">

                                        <div class="col-md-12 well-sm"
                                             onmouseup="
                                                     document.getElementById('div{{ consultation.id }}').style.display='block';
                                                     document.getElementById('img{{ consultation.id }}').style.display='none'">

                                            <div class="col-md-11">
                                                <h4>Rendez-vous du {{ consultation.date }}</h4>
                                            </div>

                                            <div class="col-md-1">
                                                <img id="img{{ consultation.id }}"
                                                     src="{{ url_for('static', filename='img/arrow_down.svg') }}"
                                                     alt="Arrow down"
                                                     height="15" width="60">
                                            </div>
                                        </div>

                                        <div id="div{{ consultation.id }}" class="desc col-md-12"
                                             onmouseup="
                                                     document.getElementById('div{{ consultation.id }}').style.display='none';
                                                     document.getElementById('img{{ consultation.id }}').style.display='block'">

                                            <div class="col-md-11">

                                                <div class="row">

                                                    {#Appointment date#}
                                                    <div class="col-md-3">
                                                        <div class="col-md-4 col-md-offset-1 p-n">
                                                            <p>Date :</p>
                                                        </div>
                                                        <div class="col-md-6 p-n">
                                                            <p>{{ consultation.date }}</p>
                                                        </div>
                                                    </div>

                                                    {#Anxiety level#}
                                                    <div class="col-md-3">
                                                        <div class="col-md-8 col-md-offset-1 p-n">
                                                            <p>Indicateur d'anxiété :</p>
                                                        </div>
                                                        <div class="col-md-2 p-n">
                                                            <p>{{ consultation.anxiety }}/10</p>
                                                        </div>
                                                    </div>

                                                    {#Payment method#}
                                                    <div class="col-md-3">
                                                        <div class="col-md-8 col-md-offset-1 p-n">
                                                            <p>Mode de réglement :</p>
                                                        </div>
                                                        <div class="col-md-2 p-n">
                                                            <p>{{ consultation.payment }}</p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Mots clé :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Comportements :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Postures :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                            <p>- BlaBla</p>
                                                        </div>
                                                    </div>

                                                    {#Participants#}
                                                    <div class="col-md-3">
                                                        <p class="col-md-offset-1">Participants :</p>
                                                        <div class="col-md-offset-2">
                                                            <p>{{ consultation.participant }}</p>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                            <div class="col-md-1">
                                                <img src="{{ url_for('static', filename='img/arrow_up.svg') }}"
                                                     alt="Arrow up"
                                                     height="15" width="60">
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}

                            {% endif %}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    {% endblock content %}

{% endblock body %}
